<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- dependent spring bean configuration -->
    <bean id="ltime" class="java.time.LocalTime" factory-method="now"/>
    <bean id="ldate" class="java.time.LocalDate" factory-method="now"/>

	<!-- target spring bean configuration -->
	<bean id="wmg" class="com.AK.SBeans.WishMessageGenerator">
		
		<!-- setter injection configuration -->
		<property name="time" ref="ltime"/>
		<property name="date" ref="ldate"/>
		<property name="age" value="30"/>
	</bean>
</beans>